.App {
  text-align: center;
}
body{
  
  background-color: rgb(62, 202, 202)np;
  padding-top: 100px;
}

.data p{
  display: inline;
}
input{
  padding: 10px 20px;
  margin-bottom: 10px;
}
select{
  padding: 5px 10px;
  margin: 10px;
}
button{
  padding: 10px 30px;
  margin: 10px;
}